.photo{
    display: inline-block;
}
.photo_container{
    position: relative;
    margin-bottom: 28px;
}
.photo_container img{
    width: 293px;
    height: 293px;
}
.photo_hover_none{
    display: none;
}
.photo_hover{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba( 0, 0, 0, 0.3);;
    z-index: 10;
    width: 293px;
    height: 293px;
}
.photo_hover span{
    margin-left: 6px;
}
.hover_stats, .hover_stats div{
    display: inline-block;
    align-self: center;
}
.hover_stats{
    margin: 0 10px;
    color: #ffffff;
    font-family: HelveticaNeueCyr;
    font-size: 16px;
}
.hover_stats img{
    filter: invert(100%);
    -webkit-filter: invert(100%);
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
}
.photo_row{
    width: 935px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
