.overflow_hidden{
    overflow: hidden;
}
.b_popup{
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.5);
    padding: 0;
    overflow:hidden;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b_popup_hidden{
    display: none;
}
.b_popup .b_popup_content{
    width: 935px;
    height: 598px;
    padding: 0;
    margin-left: -18px;
    background-color: #ffffff;
    display: flex;
}
.photo_post_img{
    width: 598px;
    height: 598px;
}
.closeIcon{
    filter: invert(100%);
    -webkit-filtet: invert(100%);
    position: fixed;
    top: 20px;
    right: 20px;
}
.closeIcon img{
    width: 20px;
    height: 20px;
}
.info_container{
    display: block;
    width: 335px;
}
.info_container .info{
    display: flex;
    align-items: stretch;
}
.post_info_top .info, .post_info .info{
    margin-left: 16px;
}
.post_info, .post_info_top, .post_info_comment{
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}
.post_info_comment{
    padding: 16px;
    height: 56px;
}
.post_info_icons{
    padding: 16px;
    height: 94px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    border-top: 1px solid rgba(0,0,0,.0975);
}
.post_info_comment span{
    font-size: 14px;
    font-family: HelveticaNeueCyr;
    padding: 0;
    margin: 0;
    align-self: center;
    width: 207px;
}
.post_info_comment .subscribe_btn{
    padding: 0;
    align-self: center;
    justify-self: end;
}
.post_info{
    padding: 26px 36px 16px 16px;
    overflow-y: scroll;
    align-items: center;
    border-bottom: none;
    height: 376px;
}
.post_info_cover{
    height: 376px;
}
/* хром, сафари */
.post_info::-webkit-scrollbar {
    width: 0;
}
/* ie 10+ */
.post_info {
    -ms-overflow-style:
            none;
}
/* фф (свойство больше не работает, других способов тоже нет)*/
.post_info {
    overflow: -moz-scrollbars-none;
}
.post_info_top{
    padding: 20px 16px;
    height: 72px;
    position: relative;
}
.post_info .info{
    align-self: start;
}
.post_text {
    font-size: 15px;
    line-height: 18px;
    font-family: HelveticaNeueCyrThin;
}
.post_dots, .post_dots_triple{
    color: #262626;
    font-family: HelveticaNeueCyrBold;
    font-size: 20px;
    margin-left: 0px;
    position: relative;
    cursor: pointer;
}
.post_dots_triple{
    width: 24px;
    padding: 0 8px;
    position: absolute;
    right: 16px;
}
.avatar_post {
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}
.post_info .avatar_post{
    padding: 0 16px 0 0;
    margin-left: -16px;
}
.avatar_post span img{
    border-radius: 50%;
    height: 32px;
    width: 32px;
}
.profileName_post{
    color: #262626;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    display: inline-block;
    align-self: center;
}
.info_container .verified img{
    width: 14px;
    height: 14px;
}
.info_container .verified{
    margin: 0 5px;
}
.info .verified{
    align-self: center;
    display: inline-block;
}
.info_container .subscribe_btn{
    color: #3897f0;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-family: HelveticaNeueCyr;
    padding: 0px 5px;
    text-align: center;
    font-size: 14px;
    user-select: none;
    white-space: nowrap;
    align-self: center;
    width: 84px;
}
.info_container .unsubscribe_btn{
    color: #262626;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-family: HelveticaNeueCyr;
    padding: 0px 5px;
    text-align: center;
    font-size: 14px;
    user-select: none;
    white-space: nowrap;
    align-self: center;
    width: 84px;
}
.top{
    display: flex;
    align-items: end;
    height: 30px;
    margin-bottom: 20px;
}